.form {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.textfield {
	display: flex;
	flex-direction: row;

	span {
		width: 120px;
	}

	input {
		width: 240px;
		padding: 8px 12px;
		outline: none;
		border: 2px solid transparent;
		border-radius: 6px;
	}

	input:focus-visible {
		border: 2px solid #6a6a6a;
	}
}

.submit-button {
	margin-top: 12px;
	background-color: var(--primary-600);
	width: fit-content;
}
