.title {
	text-align: center;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 24px;
	width: 100vw;
}

.main-container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 12px;
}
