.products-container {
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 16px;
}

.product-card {
	width: 420px;
	height: 140px;
	background-color: #1a1a1a;
	border-radius: 8px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;

	.title {
		color: white;
		margin: 0;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
	}

	.title:hover {
		text-decoration: underline;
		text-decoration-color: var(--primary-500);
	}

	.pricing {
		margin: 0;
		font-size: 18px;
		font-weight: 500;
	}

	.desc {
		margin: 0;
		opacity: 0.9;
	}
}
