.toolbar-container {
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 24px;
}

.search-input {
	padding: 8px 12px;
	outline: none;
	border: 2px solid transparent;
	border-radius: 6px;
}

.search-input:focus-visible {
	border: 2px solid #6a6a6a;
}

.addproduct-button {
	font-size: 14px;
	background-color: #1a1a1a;
	color: white;
	padding: 8px 12px;
	border-radius: 6px;
	border: 2px solid transparent;
	outline: none;
}

.addproduct-button:focus-visible {
	border: 2px solid #6a6a6a;
}

.addproduct-button:hover {
	background-color: var(--primary-900);
	text-decoration: none;
}
