:root {
	--primary-50: #f4f6ef;
	--primary-100: #e6ebdc;
	--primary-200: #cfd9bd;
	--primary-300: #b0c096;
	--primary-400: #8da36b;
	--primary-500: #768c56;
	--primary-600: #5b6e42;
	--primary-700: #485635;
	--primary-800: #3b462e;
	--primary-900: #343d2a;
	--primary-950: #1a2013;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	cursor: pointer;
	font-weight: 500;
	color: var(--primary-400);
	text-decoration: inherit;
}
a:hover {
	opacity: 0.9;
	text-decoration: underline;
	text-decoration-color: var(--primary-500);
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--primary-400);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
